extends ../layout

block content
  ul
    each menu in menus
      li.menu
        a(href = "/admin/menu/#{menu._id}")
          = menu.name
      ul
        each entry_menu in menu.entry_menus
          li.entry_menu
            a(href = "/admin/entry/#{entry_menu.entry_id}")
              = entry_menu.title
              | &nbsp(
              = entry_menu.title
              | )
    li.menu Orphans
    ul
      each orphan in orphans
        li.entry_menu
          a(href = "/admin/entry/#{orphan._id}")
            = orphan.title
              
