extends ../layout

block content
  link(type = "text/stylesheet", rel = "stylesheet", href = "/stylesheets/wysihtml5/blergh.css")
  form(action = "/admin/news", method = "post", enctype = "multipart/form-data")
    if typeof id !== 'undefined'
      input(type = "hidden", name = "id", value = id)
    p
      label(for = "subject") Subject
      input(type = "text", name = "subject", size = 80, value = typeof news === 'undefined' ? '' : news.subject)
    p
      label(for = "image")
        | Associated Image (Optional)
      input(type = "file", name = "image")
    p
      label(for = "en")
        | The News....
      br
      div(id = "toolbar", style = "display: none;")
        include toolbar.html
      textarea#texten(name = "en")
        if typeof news !== 'undefined'
          = news.en
    if typeof id !== 'undefined'
      p
        label(for = "created_at")
          | Creation date
        br
        input(type = "text", name = "created_at", value = created_at)
    p
      input(type = "submit", value = "Save")

  script
    var editor = new wysihtml5.Editor("texten", {
      toolbar: "toolbar",
      parserRules:  wysihtml5ParserRules,
      stylesheets: "/stylesheets/wysihtml5/stylesheet.css"
    });
