#dropdown
  ul
    li
      a(href = '/admin/map') Page Map
    li
      a(href = '/admin/menu') New Menu
    li
      a(href = '/admin/entry') New Entry
    li
      a(href = '/admin/news') New News Item
//    li
//      a(href = '/admin/gallery') Gallery Map
//    li
//      a(href = '/admin/collection') New Collection
//    li
//      a(href = '/admin/photo') New Photo
