title Euroopa naarits - European Mink
link(type = "text/stylesheets", rel = "stylesheet", href = "/stylesheets/reset.css")
link(type = "text/stylesheets", rel = "stylesheet", href = "/stylesheets/blueprint/screen.css")
//if IE
  link(rel = "stylesheet", href = "/stylesheets/blueprint/ie.css", type = "text/stylesheets", media = "screen, projection")
link(type = "text/stylesheets", rel = "stylesheet", href = "/stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css")
link(type = "text/stylesheets", rel = "stylesheet", href = "/stylesheets/jquery.fileupload-ui.css")
link(href = "/stylesheets/jquery.image-gallery.css", rel = "stylesheet", type = "text/stylesheets")
link(type = "text/stylesheets", rel = "stylesheet", href = "/lutreola.css")
script(type = "text/javascripts", src = "/javascripts/jquery-1.7.2.min.js")
script(type = "text/javascripts", src = "/javascripts/jquery-ui-1.8.21.custom.min.js")
script(type = "text/javascripts", src = "/javascripts/load-image.min.js")
script(type = "text/javascripts", src = "/javascripts/jquery.image-gallery.min.js")
script(type = "text/javascripts", src = "/javascripts/lutreola.js")
meta(name = "keywoards", content = "european mink, euroopa naarits, mustela lutreola, tallinna loomaaed")
meta(name = "author", content = "Tiit Maran, Bob Shelton")
