doctype 5
html
  head
    include head
  body
    .container
      #header.span-24.round
        #estonian_flag
          a#flag_ee(href = "#")
            img(width = "28", src = "/images/ee_flag.gif")
        #english_flag
          a(id = "flag_en", href = "#")
            img(width = "28", src = "/images/en_flag.gif")
        #search
          include search
        #menu
          include options
        br.clear
      br.clear
      br.clear
      #subheader.span-24.round
        #breadcrumbs.round
          include breadcrumbs
        #login.round
      br.clear
      br.clear
      br.clear
      br.clear
      br.clear
      br.clear

      #necropolis.span-24.round
        block content
        br.clear
        #footer.span-4
          include footer
