extends layout

block content
  #page_links
    #pages
      ul
        each p in pages
          li
            a(href = "/news?page=#{p}")= p
    #page
      = "Page "
      = page
  br.clear
  br.clear
  #news_items
    each item in news_items
      .itemhead
        .date
          = item.date
        .subject
          = item.subject
        - if(member)
          | &nbsp; &nbsp; &nbsp;
          a(href = "/admin/news/#{item.id}") edit
          | &nbsp; | &nbsp
          a.confirm(href = "/admin/news/#{item.id}/delete") delete
      .itembody
        != item.body
        a(href = "/news/#{item.id}") [more]
      br.clear
      br.clear
      
      
