#dropdown
  ul
    each me in entry_menus
      li
        if me.link
          a(href = me.url)= me.title
        else
          a(href = "/content/#{me.entry_id}")
            = me.title
        - if(me.submenus.length > 0)
          ul
            each me_dd in me.submenus
              li
                a(href = "/content/#{me_dd.entry_id}")
                  = me_dd.title
