/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

body-font-family = 'Georgia'
header-font-family = 'Quicksand'
font-size = 14px
menu-font-size = 12px
footer-font-size = 10px
body-bg-color = #333
body-text-color = #ccc
link-color = #f8de08
heading-color = #568025
header-bg-color = #eee
hlavni-bg-color = #333
breadcrumb-bg-color = #333
menu-hover-bg-color = brown
menu-hover-color = green
hlavni-border-color = #4ac

body
  font-family body-font-family
  font-size font-size
  background-image url('/images/lutreola_27.jpg')
  background-color body-bg-color
  color body-text-color
  margin 0 0 0 0

a
  &:link
    color link-color
    text-decoration none
  &:visited
    color link-color
  &:hover
    text-decoration underline

img
  border 0

h1, h2, h3, h4, h5, h6
  color heading-color
  margin-bottom 0

#main
  width 100%
  margin-left auto
	margin-right auto
	margin-bottom 0
	margin-top 0

#home_content
  img
    float left
    margin 0
  #footer
    width 96%
    color #fff

#header
  background-color header-bg-color
  position relative
  width 98.5%
  border solid 0px #630
  padding-bottom 20px
  margin-top -5px

#home_content
  img
    float left
    margin 0
  #footer
    width 96%
    color #fff

#header
  background-color header-bg-color
  position relative
  width 98.5%
  border solid 0px #630
  padding-bottom 20px
  // margin-top -5px

#subheader {
	background: linear-gradient(top, #cccccc00, #cccccc00)
}

#subheader
  position relative
  width 98.5%
  border solid 0px #630
  padding-bottom 20px
  margin-top -10px
  font-size menu-font-size
  color heading-color
  a
    color heading-color
  #breadcrumbs
    float left
    padding 5px 10px 2px 10px
    background-color header-bg-color
  #login
    float right
    padding 5px 10px 2px 10px
    background-color header-bg-color

#pagetitle
  float right
  font-family "Arial Black"
	font-weight bold
	font-size 16px
  color #2a5
  padding-right 10px

#footer
  font-family "Helvetica"
	font-size footer-font-size
  color body-text-color
  padding 5px
  width 100%
  #left
    float left
    padding-right 20px
  #right
    float right

#header_mink
  position absolute
  top 7px
  left 50px

#estonian_flag
  position absolute
  top 16px
  right 10px

#english_flag
  position absolute
  top 17px
  right 50px

#search
  position absolute
  top 7px
  right 100px
  font-size menu-font-size
  :color heading-color
  span
    display inline
    margin-top 4px
		margin-right 5px
  #submit
    width 20px
    margin-left -5px

#menu
  position absolute
  top 5px // This must echo #dropdown. The whole header is -5px vertical.
  left 10px
	font-size larger

#necropolis {
	background: linear-gradient(top, #352b2100, #352b21ff)
}

#necropolis
  padding 10px
  width 97%
  #left
    float left
  #right
    float left
  .slim
    width 97.5%
  .slimmer
    width 85%

.hlavni
  background-color hlavni-bg-color
  color body-text-color
  border 2px solid hlavni-border-color
  padding 10px 10px 10px 10px
  margin-bottom 10px

#lutreola_help, #gallery_img_link, .misc_photo_link
  img
    width 100%

.nopad
  padding 0

.clear
  clear both

.round
  -moz-border-radius 8px
  -webkit-border-radius 8px
  border-radius 8px

.bottomround
  -moz-border-radius 10px
  -webkit-border-radius 10px
  border-radius 10px

#dropdown ul {
	background: linear-gradient(top, #efefef00, #bbbbbbff)
}

#dropdown
  ul
	  ul
		  display none
	ul
		padding 40px 20px
		border-radius 10px
		list-style none
		position relative
		display inline-table
	ul
		li
	    float left
	    border-top 1px solid #6b727c
		  border-bottom 1px solid #575f6a
			position relative
		li
			a
			  display block
				padding 25px 40px
				color #757575
				text-decoration none
		li:hover
			ul
				display block
			a
				color #fff
	ul
	  ul
	    background #5f6975
	    border-radius 0px
	    padding 0
			position absolute
	    top 100%
	ul:after
		content ""
	  clear both
	  display block
	ul
		ul
			li
	      float none
	      border-top 1px solid #6b727c
		    border-bottom 1px solid #575f6a
			  position relative
			li
				a
					padding 15px 40px
					color: #fff
			li
				a:hover
					background #4b545f

#twitter
  height 150px
  overflow auto
#tweets
  .tweet
    img
      float left
      width 30px
    .text
      width 80%
      float right
      color body-text-color
      font-size footer-font-size

#photo_gallery
  .thumbnail
    float left
    padding-right 15px

#popup_photo
  position absolute
  background-color #aaa
  padding 20px
  display none
  top 100px
  margin-left auto
	margin-right auto
  width 500px
  border 1px solid #000
  #current_photo
    position relative
    width 500px
