/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
background: url('/images/lutreola_bg_animal.jpg') no-repeat 0% 15%fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  font-family: 'Quicksand';
  font-size: 14px;
  color: #ccc;
  margin: 0 0 0 0;
}
a:link {
  color: #f8de08;
  text-decoration: none;
}
a:visited {
  color: #f8de08;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
h1,
h4,
h5,
h6 {
  color: #568025;
  margin-bottom: 0;
}
h2 {
  color: #568025;
  font-size: 18px;
  margin-bottom: 10px;
}
#main {
	width: 100%;
		margin-left: auto;
		margin-right: auto;
}
#header {
		font: 16px Quicksand;
	}
#header {
  background-color: #eee;
  position: relative;
  width: 98.5%;
  border: solid 0px #630;
  padding-bottom: 20px;
  margin-top: -5px;
}
#subheader {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(204,204,204,0)), color-stop(1, rgba(204,204,204,0)));
  background: -webkit-linear-gradient(top, rgba(204,204,204,0) 0%, rgba(204,204,204,0) 100%);
  background: -moz-linear-gradient(top, rgba(204,204,204,0) 0%, rgba(204,204,204,0) 100%);
  background: -o-linear-gradient(top, rgba(204,204,204,0) 0%, rgba(204,204,204,0) 100%);
  background: -ms-linear-gradient(top, rgba(204,204,204,0) 0%, rgba(204,204,204,0) 100%);
  background: linear-gradient(top, rgba(204,204,204,0) 0%, rgba(204,204,204,0) 100%);
}
#subheader {
  position: relative;
  width: 98.5%;
  border: solid 0px #630;
  padding-bottom: 20px;
  margin-top: -10px;
  font-size: 12px;
  color: #568025;
}
#subheader a {
  color: #568025;
}
#subheader #breadcrumbs {
  float: left;
  padding: 5px 10px 2px 10px;
  background-color: #eee;
}
#subheader #login {
  float: right;
  padding: 5px 10px 2px 10px;
  background-color: #eee;
}
#pagetitle {
  font: 16px bold "Arial Black";
  float: right;
  color: #2a5;
  padding-right: 10px;
}
#footer {
  font: 14px 'Quicksand';
  color: #ccc;
  padding: 5px;
  width: 100%;
}
#footer #left {
  float: left;
  padding-right: 20px;
}
#footer #right {
  float: right;
}
#header_mink {
  position: absolute;
  top: 7px;
  left: 50px;
}
#estonian_flag {
  position: absolute;
  top: 16px;
  right: 10px;
}
#english_flag {
  position: absolute;
  top: 17px;
  right: 50px;
}
#search {
  position: absolute;
  top: 7px;
  right: 100px;
  font-size: 12px;
  color: #568025;
  margin-right: 5px;
}
#search span {
  display: inline;
  margin-top: 4px;
}
#search #submit {
  width: 20px;
  margin-left: -5px;
}
#menu {
  position: absolute;
  top: 0px;
  left: 10px;
}
#necropolis {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(53,43,33,0)), color-stop(1, #352b21));
  background: -webkit-linear-gradient(top, rgba(53,43,33,0) 0%, #352b21 100%);
  background: -moz-linear-gradient(top, rgba(53,43,33,0) 0%, #352b21 100%);
  background: -o-linear-gradient(top, rgba(53,43,33,0) 0%, #352b21 100%);
  background: -ms-linear-gradient(top, rgba(53,43,33,0) 0%, #352b21 100%);
  background: linear-gradient(top, rgba(53,43,33,0) 0%, #352b21 100%);
}
#necropolis {
  padding: 10px 0 10px 10px;
  width: 97%;
}
#necropolis #left {
  float: left;
}
#necropolis #right {
  float: left;
}
#necropolis .slim {
  width: 97.5%;
}
#necropolis .slimmer {
  width: 85%;
}
.hlavni {
  background-color: #333;
  color: #ccc;
  border: 2px solid #4ac;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}
#content {
  height: 471px;
  overflow: auto;
}
#lutreola_help img,
#gallery_img_link img,
.misc_photo_link img {
  width: 100%;
}
.nopad {
  padding: 0;
}
.clear {
  clear: both;
}
.round,
#dropdown {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.bottomround {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.error {
  color: #f00;
}
.notice {
  color: #008000;
}
li.menu {
  font-size: 16px;
}
li.entry_menu {
  padding-left: 20px;
}
form.admin_form {
  width: 50%;
}
form.admin_form label {
  float: left;
  margin-top: 10px;
}
form.admin_form input,
form.admin_form select {
  float: right;
}
form.admin_form p {
  clear: both;
}
#select_menus,
#select_collections {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#select_menus #select_box,
#select_collections #select_box {
  float: left;
}
#select_menus #instructions,
#select_collections #instructions {
  float: left;
  padding-top: 20px;
}
#select_menus #menu_titles_div,
#select_collections #menu_titles_div,
#select_menus #collection_names_div,
#select_collections #collection_names_div {
  float: left;
  padding-top: 10px;
}
#select_menus #menu_titles_div .menu_name,
#select_collections #menu_titles_div .menu_name,
#select_menus #collection_names_div .menu_name,
#select_collections #collection_names_div .menu_name {
  padding-right: 10px;
}
#photo_thumb img {
  padding-right: 20px;
  align: texttop;
}
#photo_thumb #image {
  float: left;
}
#photo_thumb #input {
  float: left;
}
#entry_menus ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
#entry_menus ul li {
  margin: 0 3px 3px 3px;
  padding: 5px 0 0 15px;
  font-size: 12px;
  height: 18px;
}
#entry_menus ul li span {
  position: absolute;
  margin-left: -1.3em;
}
#collection_photos ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
}
#collection_photos ul li {
  float: left;
  padding: 5px;
}
.coll_tab {
  margin-top: 15px;
}
.coll_tab button {
  margin: 0;
  padding: 0;
  width: 15px;
}
.coll_tab .count {
  display: inline;
  font-size: smaller;
}
.photo_item {
  float: left;
  padding: 5px;
}
.photo_item .name {
  float: left;
}
.photo_item .delete {
  float: right;
}
.photo_item .delete button {
  margin: 0;
  padding: 0;
  width: 15px;
}
#page_links #pages {
  float: left;
}
#page_links #pages ul {
  list-style: none;
}
#page_links #pages ul li {
  display: inline;
  padding: 0 10px 0 0;
}
#page_links #page {
  float: right;
  font-weight: bold;
}
#news_items .itemhead {
		font-size: 70%;
		font-weight: bold;
}
	#news_items .itemhead .date {
		float: left;
}
#news_items .itemhead .subject {
		float: right;
}
#news_items .itembody {
		clear: both;
		padding-top: 10px;
}
h3 {
  color: #568025;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
#news_item #date {
  font-style: italic;
  color: #f00;
  font-size: smaller;
  margin-bottom: 10px;
}
#dropdown {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(239,239,239,0)), color-stop(1, #bbb));
  background: -webkit-linear-gradient(top, rgba(239,239,239,0) 0%, #bbb 100%);
  background: -moz-linear-gradient(top, rgba(239,239,239,0) 0%, #bbb 100%);
  background: -o-linear-gradient(top, rgba(239,239,239,0) 0%, #bbb 100%);
  background: -ms-linear-gradient(top, rgba(239,239,239,0) 0%, #bbb 100%);
  background: linear-gradient(top, rgba(239,239,239,0) 0%, #bbb 100%);
}
#dropdown ul ul {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(69,69,69,0.667)), color-stop(1, #888));
  background: -webkit-linear-gradient(top, rgba(69,69,69,0.667) 0%, #888 100%);
  background: -moz-linear-gradient(top, rgba(69,69,69,0.667) 0%, #888 100%);
  background: -o-linear-gradient(top, rgba(69,69,69,0.667) 0%, #888 100%);
  background: -ms-linear-gradient(top, rgba(69,69,69,0.667) 0%, #888 100%);
  background: linear-gradient(top, rgba(69,69,69,0.667) 0%, #888 100%);
}
#dropdown {
		margin-right: 0;
		margin-left: 0;
		margin-top: 5px;
}
	#dropdown ul {
		list-style: none;
		position: relative;
		display: inline-table;
	}
	#dropdown ul ul {
		display: none;
}
#dropdown ul li {
	  float: left;
		position: relative;
}
	#dropdown ul li a {
	  display: block;
		padding: 15px 15px;
		color: #000000;
	  text-decoration: none;
}
#dropdown ul li:hover ul {
  display: block;
}
#dropdown ul li:hover a {
  color: #4c9;
}
#dropdown ul li ul:hover {
  display: block;
}
#dropdown ul ul {
	  padding: 0;
		position: absolute;
		top: 80%;
}
	#dropdown ul:after {
		content: "";
	  clear: both;
	  display: block;
	}
	#dropdown ul ul li {
	  float: none;
	  border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
		z-index: 100;
	}
#dropdown ul ul li a {
  padding: 15px 15px;
  color: #fff;
}
#dropdown ul ul li a:hover {
  background: #4b545f;
}
#twitter {
  height: 150px;
  overflow: auto;
}
#tweets .tweet .text {
  width: 80%;
  float: right;
  color: #ccc;
}
#tweets .date {
  width: 100px;
  float: left;
  font-size: 10px;
  color: #f00;
}
#photo_gallery .thumbnail {
  float: left;
  padding-right: 15px;
}
#popup_photo {
  position: absolute;
  background-color: #aaa;
  padding: 20px;
  display: none;
  top: 100px;
  margin-left: auto;
}
margin-right auto {
  width: 500px;
  border: 1px solid #000;
}
margin-right auto #current_photo {
  position: relative;
  width: 500px;
}
