/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

body-font-family = 'Quicksand'
header-font-family = 'Quicksand'
font-size = 14px
menu-font-size = 12px
header-font-size = 16px
footer-font-size = 10px
body-bg-color = #333
body-text-color = #ccc
link-color = #f8de08
heading-color = #568025
header-bg-color = #eee
hlavni-bg-color = #333
breadcrumb-bg-color = #333
menu-hover-bg-color = brown
menu-hover-color = green
hlavni-border-color = #4ac

@css {
	body {
  background: url('/images/lutreola_bg_animal.jpg') no-repeat 0% 15%fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
}

body
  font-family body-font-family
  font-size font-size
  color body-text-color
  margin 0 0 0 0

a
  &:link
    color link-color
    text-decoration none
  &:visited
    color link-color
  &:hover
    text-decoration underline

img
  border 0

h1, h3, h4, h5, h6
  color heading-color
  margin-bottom 0

h2
	color heading-color
	font-size 18px
	margin-bottom 10px

@css {
	#main {
  	width: 100%;
		margin-left: auto;
		margin-right: auto;
  }
}

@css {
	#header {
		font: 16px Quicksand;
	}
}

#header
  background-color header-bg-color
  position relative
  width 98.5%
  border solid 0px #630
  padding-bottom 20px
  margin-top -5px

#subheader {
	background: linear-gradient(top, #cccccc00, #cccccc00)
}

#subheader
  position relative
  width 98.5%
  border solid 0px #630
  padding-bottom 20px
  margin-top -10px
  font-size menu-font-size
  color heading-color
  a
    color heading-color
  #breadcrumbs
    float left
    padding 5px 10px 2px 10px
    background-color header-bg-color
  #login
    float right
    padding 5px 10px 2px 10px
    background-color header-bg-color

#pagetitle
  font 16px bold "Arial Black"
  float right
  color #2a5
  padding-right 10px

#footer
  font font-size header-font-family
  color body-text-color
  padding 5px
  width 100%
  #left
    float left
    padding-right 20px
  #right
    float right

#header_mink
  position absolute
  top 7px
  left 50px

#estonian_flag
  position absolute
  top 16px
  right 10px

#english_flag
  position absolute
  top 17px
  right 50px

#search
  position absolute
  top 7px
  right 100px
  font-size menu-font-size
  color heading-color
  span
    display inline
    margin-top 4px
		margin-right 5px
  #submit
    width 20px
    margin-left -5px

#menu
  position absolute
  top 0px // This must echo #dropdown. The whole header is -5px vertical.
  left 10px

#necropolis {
	background: linear-gradient(top, #352b2100, #352b21ff)
}

#necropolis
  padding 10px 0 10px 10px
  width 97%
  #left
    float left
  #right
    float left
  .slim
    width 97.5%
  .slimmer
    width 85%

.hlavni
  background-color hlavni-bg-color
  color body-text-color
  border 2px solid hlavni-border-color
  padding 10px 10px 10px 10px
  margin-bottom 10px

#lutreola_help, #gallery_img_link, .misc_photo_link
  img
    width 100%

.nopad
  padding 0

.clear
  clear both

.round
  -moz-border-radius 8px
  -webkit-border-radius 8px
  border-radius 8px

.bottomround
  -moz-border-radius 10px
  -webkit-border-radius 10px
  border-radius 10px

.error
	color red

.notice
	color green

li.menu
	font-size 16px

li.entry_menu
	padding-left 20px

form.admin_form
	width 50%
	label
		float left
		margin-top 10px
	input, select
		float right
	p
		clear both

#select_menus, #select_collections
  width 100%
  #select_box
    float left
  #instructions
    float left
    padding-top 20px
		padding-left 20px
		padding-right 20px
  #menu_titles_div, #collection_names_div
    float left
    padding-top 10px
    .menu_name
      padding-right 10px

#photo_thumb
  img
    padding-right 20px
    align texttop
  #image
    float left
  #input
    float left

#entry_menus
  ul
    list-style-type none
    margin 0
    padding 0
    width 60%
    li
      margin 0 3px 3px 3px
      padding 5px 0 0 15px
      font-size 12px
      height 18px
      span
        position absolute
        margin-left -1.3em

#collection_photos
  ul
    list-style-type none
    margin 0
    width 100%
    li
      float left
      padding 5px

.coll_tab
  button
    margin 0
    padding 0
    width 15px
  .count
    display inline
    font-size smaller
		margin-top 15px

.photo_item
  float left
  padding 5px
  .name
    float left
  .delete
    float right
    button
      margin 0
      padding 0
      width 15px


#dropdown {
	background: linear-gradient(top, #efefef00, #bbbbbbff);
}

#dropdown ul ul {
	background: linear-gradient(top, #454545aa, #888888ff);
}

#dropdown
	@extend .round

@css {
	#dropdown {
		margin-right: 0;
		margin-left: 0;
		margin-top: 5px;
  }
	#dropdown ul {
		list-style: none;
		position: relative;
		display: inline-table;
	}
	#dropdown ul ul {
		display: none;
  }
}

@css {
	#dropdown ul li {
	  float: left;
		position: relative;
  }
	#dropdown ul li a {
	  display: block;
		padding: 15px 15px;
		color: #000000;
	  text-decoration: none;
  }
}

#dropdown
	ul
		li:hover
			ul
				display block
			a
				color #4c9
		li
			ul:hover
				display block

@css {
  #dropdown ul ul {
	  padding: 0;
		position: absolute;
		top: 80%;
  }
	#dropdown ul:after {
		content: "";
	  clear: both;
	  display: block;
	}
	#dropdown ul ul li {
	  float: none;
	  border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
		z-index: 100;
	}
}

#dropdown
	ul
		ul
			li
				a
					padding 15px 15px
					color: #fff
			li
				a:hover
					background #4b545f

#twitter
  height 150px
  overflow auto
#tweets
  .tweet
    img
      float left
      width 30px
    .text
      width 80%
      float right
      color body-text-color
      font-size footer-font-size

#photo_gallery
  .thumbnail
    float left
    padding-right 15px

#popup_photo
  position absolute
  background-color #aaa
  padding 20px
  display none
  top 100px
  margin-left auto
	margin-right auto
  width 500px
  border 1px solid #000
  #current_photo
    position relative
    width 500px
